
.apib-editor {
  .full-layout();
}

.apib-editor-menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: @unit-height;
  z-index: 10;
}

.apib-editor-content {
  .full-layout();
  top: @unit-height;
  z-index: 0;
}
