@import './reset';
@import './variables';

.apib-node-panel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}

.apib-node {
  padding: 0;
  margin: 5px;
  font-size: 14px;
}

.apib-node-header {
  
}

.apib-node-children {
  margin: 5px;
}
