
.apib-node-list {
  overflow: hidden;
}

.apib-node-list-items {
  position: absolute;
  top: @unit-height;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: darken(@body-color, 2%);
}

.apib-node-item {
  height: 20px;
  line-height: 20px;
  padding: 0;
  margin: 0;
  white-space: nowrap;

  &:hover {
    background-color: @body-highlight-color;
    cursor: pointer;
  }

  &.active {
    background-color: lighten(@body-highlight-color, 5%);
    color: @primary-text-color;
  }
}

.apib-node-header {
  display: inline-block;
}

.apib-node-depth-spaces {
  display: inline-block;
}

.apib-node-depth-space {
  display: inline-block;
  width: 16px;
}

.apib-node-list-filter {
  width: 100%;
  padding: 0 5px;
}
