
.property-view {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: darken(@body-color, 5%);
}

.property-view-header {
  height: @unit-height;
  line-height: @unit-height;
  margin: 0;
  padding: 0 @unit-margin;
  font-size: 1em;
  font-weight: bold;
  background-color: @body-color;
}

.property-view-body {
  overflow: hidden;
}
