
.property-control {
  margin: @unit-margin;

  .label {
    margin: (@unit-margin / 2) 0;
    font-size: 0.9em;
    white-space: nowrap;
    overflow: hidden;
  }

  input {
    width: 100%;
    height: @unit-height;
    line-height: @unit-height;
    padding: 0 (@unit-margin / 2);
  }

  select {
    width: 100%;
    height: @unit-height;
    line-height: @unit-height;
    padding: 0 3px;
    border: 0;
    border-radius: 0;
    background-color: @body-highlight-color;
    color: @body-text-color;
  }
}
