
.apib-start-page {
  .full-layout();

  display: flex;
  align-items: center;
  justify-content: center;
}

.apib-start-box {
  width: 400px;
  text-align: center;

  p {
    padding: 0px;
    font-size: 0.5em;
  }

  button {
    width: 200px;
    height: 200px;
    border: 0;
    border-radius: 0;
    background-color: @body-color;
    color: @primary-text-color;
    cursor: pointer;
    font-size: 3em;

    &:hover {
      background-color: @body-highlight-color;
      color: @blue;
    }
  }
}

.apib-start-open-file {
  float: left;
}

.apib-start-new-file {
}
